<div class="container">
    <h2>Notifications</h2>
    <p>Students that have applied for nodues</p>            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Dues clear?</th>
          <th>Dues not clear?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Narayan</td>
          <td><button type="button" class="btn btn-primary">Verified</button></td>
          <td><button type="button" class="btn btn-primary">Modal here</button></td>
        </tr>
        <tr>
          <td>Rajesh</td>
          <td><button type="button" class="btn btn-primary">Verified</button></td>
          <td><button type="button" class="btn btn-primary">Modal here</button></td>
        </tr>
        <tr>
          <td>Souvik</td>
          <td><button type="button" class="btn btn-primary">Verified</button></td>
          <td><button type="button" class="btn btn-primary">Modal here</button></td>
        </tr>
      </tbody>
    </table>
  </div>
