<div class="container">
    <div class="card">
        <div class="card-header">LOGIN</div>
        <div class="card-body">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password">
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">LOGIN</button>
            <a routerLink="/forgotpassword" class="text-link ml-3">Forgot Password</a>
        </div>
    </div>
</div>