<div class="side-nav">
    <ul>
        <li class="container pt-3 nav-link" routerLinkActive="active">
            <a routerLinkActive="active" class="text-link d-flex align-items-center flex-column justify-content-center" routerLink="admin">
                <span class="material-icons">supervised_user_circle</span>
                <span class="p-1">ADMIN</span>
            </a>
        </li>

        <li class="container pt-3 nav-link" routerLinkActive="active">
            <a routerLinkActive="active" class="text-link d-flex align-items-center flex-column justify-content-center" routerLink="approve">
                <span class="material-icons">thumb_up</span>
                <span class="p-1">APPROVE</span>
            </a>
        </li>

        <li class="container pt-3 nav-link" routerLinkActive="active">
            <a routerLinkActive="active" class="text-link d-flex align-items-center flex-column justify-content-center" routerLink="verify">
                <span class="material-icons">verified_user</span>
                <span class="p-1">VERIFY</span>
            </a>
        </li>

        <li class="container pt-3 nav-link" routerLinkActive="active">
            <a routerLinkActive="active" class="text-link d-flex align-items-center flex-column justify-content-center" routerLink="reports">
                <span class="material-icons">pages</span>
                <span class="p-1">REPORTS</span>
            </a>
        </li>

        <li class="container pt-3 nav-link" routerLinkActive="active">
            <a routerLinkActive="active" class="text-link d-flex align-items-center flex-column justify-content-center" routerLink="apply">
                <span class="material-icons">how_to_vote</span>
                <span class="p-1">APPLY</span>
            </a>
        </li>
    </ul>
</div>