body {
    background-color: lightgray;
}

.text-link {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.top-nav {
    height: 50px;
    width: 100%;
    background-color: darkslategray;
}

.side-nav {
    width: 100px;
    height: 100vh;
    background-color: #313940;
    color: whitesmoke;
    font-size: 10px;
}

.logo-holder {
    width: 100px;
    height: 50px;
    background-color: black;
}

.nav-link {
    cursor: pointer;
    border-width : 0 0 1px 0;
    border-color: #333333;
    border-style: solid;
}

.nav-link a:visited,
.nav-link a:active,
.nav-link a:link {
    color: whitesmoke;
    text-decoration: none;
}

.nav-link:hover,
.nav-link a:hover {
    background-color: whitesmoke;
    color: #333333;
}

.active {
    background-color: whitesmoke;
    color: #333333!important;
}

.side-nav ul,
.side-nav ul li {
    list-style: none;
    list-style-type: none;
    padding: 0;
}